<app-cashier-page-components
  [items]="cartItems()"
  [receipt]="currentReceipt()"
  [finalTotal]="finalTotal()"
  [totalQuantity]="totalQuantity()"
  [distinctItemsCount]="distinctItemsCount()"
  [totalDiscount]="totalDiscount()"
  [tax]="tax()"
  [subtotal]="subtotal()"
  [draftsCount]="5"
  [sidebarVisible]="sidebarVisible"
  [rightSidebarVisible]="rightSidebarVisible"
  (toggleSidebar)="onToggleSidebar()"
  (toggleRightSidebar)="onToggleRightSidebar()"
  (save)="onSave()"
  (saveAndPrint)="onSaveAndPrint()"
  (print)="onPrint()"
  (new)="onNew()"
  (edit)="onEdit()"
  (delete)="onDelete()"
  (return)="onReturn()"
  (drafts)="onDrafts()"
  (removeItem)="onRemoveItem($event)"
  (viewItem)="onViewItem($event)"
  (updateQuantity)="onUpdateQuantity($event)"
  (addItem)="onAddItem($event)">
</app-cashier-page-components>

